.title
{
  font-size: 80px;
  margin: 15px 20px;
}

.dashbord-btn , .heroes-btn {
 background-color:darkslategrey;
  margin-right: 10px;
  margin-bottom: 50px;
  color: white;

}

.basic-btn-position {
  margin-left: 35%;
}

