.search-input{
  padding: 5px 30px;
  margin-top: 10px;
}

.hero-list-item {
 /*padding-right: 137%;*/
  padding-right: 218px;
}
.hero-list-item:hover {
  background-color: darkgray;
}

.hero-list-item a {
  text-decoration: none;
  color: black;
}
